<div class="content-container">
    <h2>Herzlich Willkommen</h2>
    <img class="content-img" src="./assets/img/me.jpeg.jpg" alt="Bild vom ersteller">
    <h3>Hi. Ich bin Nils</h3>
    <p class="content-width">
        <b>Frontend Developer - Auf dem Weg zum Fullstack Developer</b>
    </p>
    <p class="content-width">
        Meine Berufliche Reise begann als Berufskraftfahrer, führte mich über den stellvertretenden Produktionsleiter 
        zum Frontend-Entwickler und künftig Fullstack-Entwickler. Gerne biete ich euch aktuell zum Beispiel:<br>
    </p>
    <p class="content-width">     
        <b>
            Landingpages, Redesigns und vieles mehr.<br> 
            Persönliche Wünsche können gerne <b>individuell</b> besprochen werden.
        </b>
    </p>
    <h3>Skills</h3>
    <div class="image-container">
        <img class="pulsate-fwd" title="javaScript" src="./assets/img/js.png" alt="js-logo">
        <img class="pulsate-fwd" title="css" src="./assets/img/css.png" alt="css-logo">
        <img class="pulsate-fwd" title="HTML5" src="./assets/img/html5.png" alt="html5-logo">
        <img class="pulsate-fwd" title="GitHub" src="./assets/img/github.png" alt="gitHub-logo">
    </div>
    <h3>Projekt Beispiele</h3>
    <ul>
        <li>Webseiten Redesigns</li>
        <li>Vokabeltrainer</li>
        <li>Firmen Webseiten</li>
        <li>Bilder Galerien</li>
        <li>Adventskalender</li>
        <li>Fake Snake Game</li>
        <li>Fake TicTacToe</li>
        <li>Quizapp</li>
    </ul> 
    <p class="content-width">
        Für mehr Informationen schau gerne bei einigen meiner 
        <a href="./projects.html">Projekten</a> 
        vorbei.
    </p>
</div>