<div class="content-container">
    <div class="project-container">
        <img class="project-img" src="./assets/img/1.jpeg" alt="Bild vom ersteller">
        <h3>DX-Charlytango</h3>
        <p>
            Nach einem Styling durch uns erstrahlt der DX-CharlyTango jetzt online in neuem Glanz.<br> 
            Wie es <b>jetzt</b> aussieht erfährst du 
            <a target="_blank" href="http://webentwicklung-nehring.de/dx-charlytango/index.html">hier</a>.
        </p>
        <p>
            Hier geht es zur <b>alten Version</b> von <a target="_blank" href="http://dx-charlytango.de/index.htm">DX-CharlyTango</a>
        </p>
    </div>
</div>